.navbar-default .navbar-nav > li > a {
    color: #337ab7;
}

/* SPA */
.cat-card {
    display: inline-block;
    width: 20em;
    height: 20em;
    margin-right: 1em;
}

.cat-card .fa {
    font-size: 12em;
    opacity: 0.25;
}